.wrapper {
  display: flex;
  height: 100vh;
}

aside {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
}

.description {
  margin-bottom: 10px;
  font-weight: bold;
}

.dndnode {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #61dafb;
  border: 1px solid #282c34;
  border-radius: 5px;
  cursor: grab;
  text-align: center;
  user-select: none;
}

.dndnode:active {
  cursor: grabbing;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #026AA7; 
  padding: 20px;
  color: #FFFFFF; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header .logo-container {
  background-color: #FFFFFF; 
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.App-header .logo-container img.logo {
  width: 50px;
  height: 50px; 
}

.App-header .logo-container .title {
  color: #2C3E50; 
  font-size: 24px;
  font-weight: bold;
}

button {
  outline: none;
}

.button-container {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #bbb9b9; 
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn.cancel {
  background-color: #F59E0B;
  color: #374151; 
}

.btn.cancel:hover {
  background-color: #D97706; 
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;    
    transform: scale(1);
  }
}

.modal-content {
  background-color: #F4F5F7; 
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease;
  color: #172B4D; 
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.react-flow-wrapper {
  flex: 1;
  position: relative;
}

.react-flow-wrapper .react-flow {
  width: 100%;
  height: 100%;
}

.context-menu {
  width: 100px;
  animation: fadeIn 0.2s ease;
  background-color: #FFFFFF; 
  color: #172B4D;
}

.context-menu-item {
  padding: 8px 12px;
  transition: background-color 0.2s ease;
}

.context-menu-item:hover {
  background-color: #f0f0f0;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAF9;
}

.home-container .product-name {
  font-size: 48px;
  margin-bottom: 0px;
  color: #374151; 
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #374151; 
}

.auth-form .btn {
  padding: 10px;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
}

.message {
  margin-top: 20px;
  color: red;
}

.btn.signup {
  background-color: #4caf50;
  color: white;
}

.btn.signup:hover {
  background-color: #45a049;
}

.btn.login {
  background-color: #10B981; 
  color: #FAFAF9; 
}

.btn.login:hover {
  background-color: #059669; 
}

.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
}

.toast {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.toast.success {
  background-color: #10B981; 
}

.toast.error {
  background-color: #F59E0B; 
}

.toast.info {
  background-color: #374151; 
}