.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #FAFAF9;
  padding: 0px;
  min-height: 100vh;
}

.product-name {
  font-size: 36px; 
  margin-bottom: 20px;
  color: #374151;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 85%;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #374151;
  font-size: 16px;
}

.auth-form .btn {
  padding: 12px;
  font-size: 16px;
}

.toggle-link {
  color: #6C757D; 
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #495057;
}

.message {
  margin-top: 20px;
  color: #E53E3E;
  text-align: center;
}

.button-group {
  display: flex; 
  gap: 10px; 
  justify-content: center; 
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #bbb9b9; 
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn.signup {
  background-color: #5AAC44; 
  color: #FFFFFF;
}

.btn.signup:hover {
  background-color: #519839; 
}

.btn.demo {
  background-color: #E0E0E0; 
  color: #2C3E50; 
}

.btn.demo:hover {
  background-color: #B0BEC5; 
}

.btn.login {
  background-color: #0079BF; 
  color: #FFFFFF;
}

.btn.login:hover {
  background-color: #026AA7; 
}

.tagline {
  font-size: 24px;
  margin-bottom: 30px;
  color: #2C3E50; 
  text-align: center;
  max-width: 600px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-section, .about-section, .testimonial-section {
  width: 80%;
  max-width: 1000px;
  margin: 40px 0;
  background-color: #FFFFFF;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.features-section h2,
.about-section h2,
.testimonial-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2C3E50;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-item {
  flex: 1 1 250px;
  text-align: center;
}

.feature-item h3 {
  margin-bottom: 10px;
  color: #6C757D; 
}

.feature-item p {
  color: #2C3E50;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial-item {
  flex: 1 1 300px;
  background-color: #F9F9F9; 
  padding: 20px;
  border-left: 4px solid #6C757D;
  border-radius: 4px;
}

.testimonial-item p {
  font-style: italic;
  color: #2C3E50;
}

.testimonial-item h4 {
  text-align: right;
  margin-top: 10px;
  color: #6C757D;
}

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #172B4D; 
  color: #FFFFFF; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background-color: #026AA7; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #FFFFFF; 
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title .title {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2C3E50; 
}

.nav-links {
  display: flex;
  gap: 20px;
}

.navbar .logo {
  width: 70px; 
  height: 70px; 
  margin-right: 15px;
}

.navbar .title {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF; 
}

.navbar .nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #E2E4E6; 
}

.login-container, .signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FAFAF9;
}

.form-container {
  flex: 1;
  max-width: 400px;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.form-container p:not(.message) {
  text-align: center;
}

.content-container {
  flex: 1;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  color: #374151;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff; 
  border: 1px solid #dddddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  height: 100%;
}

.content-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-top: -40px; 
}

.content-container ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.content-container ul li {
  margin-bottom: 10px;
}

.content-container h2 {
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: -9px;
}

.content-container p {
  font-size: 16px;
}

.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FAFAF9;
}
.page-title {
  top: 20px;
  left: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
}